.row
  .medium-6.columns
    = f.input :title, required: true
  .medium-6.columns
    = f.label :event_at
    = f.text_field :event_at, id: "datetimepicker"
.row
  .medium-12.columns
    = f.input :place
.row
  .medium-12.columns
    = f.input :activity
