.row
  .medium-6.columns
    = f.input :title, required: true
  .medium-3.columns
    = f.input :order
  .medium-3.columns
    = f.label :active
    = f.check_box :active

.row
  .medium-6.columns
    = f.input :url
  .medium-3.columns
    = f.label :kind
    = f.select :kind, options_for_select(model.kinds_attributes_for_select, f.object.kind), required: true
  .medium-3.columns
    = f.label :feature
    = f.check_box :feature

.row
  .medium-6.columns
    = f.label :published_at
    = f.text_field :published_at, id: "datetimepicker"
  .medium-6.columns
    = f.label :image do
      = image_tag f.object.image.url, class: 'img-responsive img-thumbnail'
    = f.file_field :image, hide_label: true, accept: 'image/*'


= f.input :description
%br
- if action_name == "edit" || action_name == "update"
  %br
  %h4 Contenido
  .content-edit
    = f.fields_for :elements do |ff|
      = render partial: 'elements', locals: { f: ff }

    = f.fields_for :image_elements do |ff|
      = render partial: 'image_elements', locals: { f: ff }
    = f.fields_for :video_elements do |ff|
      = render partial: 'video_elements', locals: { f: ff }
    = f.fields_for :audio_elements do |ff|
      = render partial: 'audio_elements', locals: { f: ff }
    = f.fields_for :document_elements do |ff|
      = render partial: 'document_elements', locals: { f: ff }


  = f.link_to_add :elements, class: 'button', 'data-target' => '.content-edit' do
    %i.ti-pencil-alt
    Texto
  = f.link_to_add :image_elements, class: 'button', 'data-target' => '.content-edit' do
    %i.ti-gallery
    Galería
  = f.link_to_add :audio_elements, class: 'button', 'data-target' => '.content-edit' do
    %i.ti-music-alt
    Audio
  = f.link_to_add :video_elements, class: 'button', 'data-target' => '.content-edit' do
    %i.ti-video-camera
    Video
  = f.link_to_add :document_elements, class: 'button', 'data-target' => '.content-edit' do
    %i.ti-file
    Documento
  .clearfix
