%br
.row
  .small-12.medium-12.large-12
    .callout.secondary
      .row
        .medium-12.columns
          %h4= model.model_name.human

      .row
        = simple_nested_form_for [namespace, @item], method: :post, :html => {"data-abide" => ''} do |f|
          = render partial: 'form', locals: { f: f }

          .text-center
            = f.button :submit
