.row
  .medium-6.columns
    = f.input :name, required: true
  .medium-6.columns
    = f.association :attachment_category, required: true
.row
  .medium-6.columns
    = f.label :thumbnail

    = f.file_field :thumbnail
  .medium-6.columns
    = f.label :datafile
    = f.file_field :datafile
    - if @item.datafile.present?
      = link_to @item.datafile.url, target: '_blank', class: 'btn btn-mini' do
        Descargar
        %i.icon-download-alt
.row
  .medium-12.columns
    = f.input :content, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }
