@import url('https://fonts.googleapis.com/css?family=Mitr|Oswald');
@import 'foundation_and_overrides';
@import 'colors';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'shared';

.slick-slider {
  margin-bottom: 10px;
}


.login {
  background: #587498;
  padding-top: 75px;
  height: 100%;
  a {
    color: #FF9900;
  }
}

.log-in-form {
  padding: 1rem;
  label{
    color: #fff;
  }
}

body {
  font-family: 'Mitr', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
}

header {
  padding: 10px 10px 25px;

  h1 {
    color: $white;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.banner {
  padding: 60px 0;

  h1 {
    font-size: 2.3rem;
  }
}

.news,
.projects,
.info,
.resources {
  h2 {
    color: $header-titles;
    font-size: 2em;
    margin: 25px 0 15px;
    text-align: center;
  }
}

.projects {
  background: image-url('site/proyectos.png') center center no-repeat;
  background-size: cover;
  color: $white;

  h2 {
    color: $white;
  }

  h3 {
    font-family: 'Mitr';
    font-size: 1.1em;
    margin: 10px 0;

    a {
      color: inherit;
    }
  }

  img {
    border: 4px solid $white;
    display: block;
    margin: 0 auto;
  }

  .project {
    margin: 0 10px;
    text-align: center;

    .title-project {
      height: 85px;
      margin-bottom: 10px;
      overflow: hidden;
    }

    h3 {
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
}

.info {

  span {
    color: $span-text;
    font-size: .9rem;
  }

  h3 {
    color: $soft-black;
    font-family: 'Mitr';
    font-size: 1.3rem;
    margin: 5px 0;
  }

  p {
    color: $gray;
    font-size: 1rem;
  }

  .info-image {
    padding: 30px 40px 50px;
    text-align: center;

    img {
      box-shadow: -15px 15px $square;
      display: block;
      max-height: 300px;
    }
  }
}

.info,
.resources {
  color: $white;

  h2 {
    font-family: 'Mitr';
    font-size: 1.8em;
    text-align: left;
  }

  h3 {
    font-family: 'Mitr';
    font-size: 1.2rem;
    margin: 2px 0;
  }
}

.resources {
  //background: $blue-resource;
  margin: 50px 0;

  span,
  h3,
  p {
    line-height: 1.2;
  }

  .title-resource {
    height: 50px;
    margin-bottom: 15px;
    overflow: hidden;
  }

  h2 {
    color: $white;
    font-size: 1.6rem;
    text-align: center;
  }

  span {
    font-size: .8rem;
  }

  p {
    font-size: .9rem;
  }

  .reports {
    background: image-url('site/informes.png') center center no-repeat;
    background-size: cover;
    padding: 10px 0 30px;
  }

  .press {
    background: image-url('site/prensa.png') center center no-repeat;
    background-size: cover;
    padding: 10px 0 30px;
  }
}

.top-bar {
  background: none;

  ul {
    background: none;

    li {
      background: none;

      a {
        color: $white;
      }
    }
  }
}

.menu-text {
  color: $white;

  @media only screen and (max-width: 40em) {
    display: none;
  }
}


.dropdown.menu .submenu {
  border: 0;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
  border-color: $white transparent transparent;
}

.is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent $white;
}

.js-drilldown-back::before {
  border-color: transparent $white transparent transparent;
}

@media only screen and (max-width: 70em) {

  .banner {
    padding: 20px 0;

    h1 {
      font-size: 1.8rem;
    }
  }
}

@media only screen and (max-width: 39.9em) {

  .slick-dots {
    bottom: -35px;
    margin-left: 0;
  }

  .banner {
    padding: 20px 0;
    text-align: center;

    h1 {
      font-size: 1.5rem;
    }
  }
}
