!!!
%html
%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title School App Login
  = csrf_meta_tags
  = stylesheet_link_tag 'admin/application', media: 'all'
  = javascript_include_tag 'admin/preload'

%body.login
  = yield
